<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Palladium</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="./js/highcharts.js"></script>

    <link href="./css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid p-0 vh-100 d-flex flex-column">

    <nav class="c-header navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="./index.html">
            <img class="c-header__logo" src="./img/logo.svg"/>
        </a>
        <div class="d-flex align-items-center order-lg-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="c-header-nav navbar-nav ml-auto mt-1h mt-md-0 mr-md-2">
                <li class="nav-item mx-lg-h ">
                    <a class="nav-link" href="/">Company</a>
                </li>
                <li class="nav-item mx-lg-h dropdown">
                    <a class="nav-link" href=".?/statistics">Statistics</a>
                </li>

                <li class="nav-item mx-lg-h active">
                    <a class="nav-link" href=".?/integration">Integration</a>
                </li>
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/blacklist">BlackList</a>
                </li>
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/profilClient">Profil</a>
                </li>
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/tariff">Tariff</a>
                </li>
                {% if posts %}
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/clients">Clients</a>
                </li>
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/logs">Logs</a>
                </li>
                <li class="nav-item mx-lg-h">
                    <a class="nav-link" href=".?/promo">Promo</a>
                </li>
                {%endif%}
                <li class="nav-item mx-lg-h">
                    <a class="nav-link text-danger nav-link--logout" href="?/logout"><i class="fas fa-sign-out-alt"></i></a>
                    <!-- <a class="nav-link text-danger" href="./login.html">Logout</a> -->
                </li>

            </ul>
        </div>
    </nav>
    <div class="main-content flex-grow-1 d-flex flex-column justify-content-between pb-0 px-0 pt-3 mb-0 overflow-auto">
        <div>

            <div class="container-fluid c-container">
                <div class="main-box p-q px-md-1 p-lg-3">

                    <div class="c-integration-code">
                        <code>
                            <span class="pun">&lt;?php</span>
                            <p>require_once($_SERVER["DOCUMENT_ROOT"] ."/handler.com");</p>
                            <p>?&gt;</p>

                            <span class="pun">&lt;?php</span>
                            <p>// this block for target</p>
                            <p>if ((new Handler())-&gt;runHandler()) {</p>
                            <p> require 'target.php';</p>
                            <p>}</p>
                            <p>//this block for bot,moder</p>
                            <p>else {</p>
                            <p> require 'bot.php';</p>
                            <p>}</p>
                            <span>?&gt;</span>
                        </code>
                    </div>
                </div>
            </div>

        </div>

        <footer class="c-footer small container-fluid pb-h mt-3">
            <div class="row justify-content-between">
                <div class="col-lg-auto">© 2020-2021 Palladium. All Rights Reserved</div>
                <div class="col-lg-auto mt-h mt-lg-0">
                    <div class="mt-h mt-md-0 mt-sm-0">
                        <a class="mr-h ml-md-3 ml-sm-h" href="#">
                            Terms of Service
                        </a>
                        <a class="mr-h ml-md-3 ml-sm-h" href="#">
                            Privacy policy
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/datatables.min.js"></script>
<script src="./js/select2.min.js"></script>
<script src="./js/bootstrap-datepicker.min.js"></script>
<script src="./js/custom.js"></script>
</body>
</html>