<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Palladium</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="./js/highcharts.js"></script>

    <link href="./css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid py-3">


    <img class="img-fluid d-block mx-auto mb-3" src="./img/logo.svg" alt="" />

    <form action="?/registration/check" method="post"  class="c-login-form w-100 main-box rounded-sm py-2 px-2h mx-auto needs-validation" novalidate>
        <div>
            <h1 class="h5 text-primary border-bottom text-center text-uppercase mb-1h pb-h">Login</h1>
            <div class="form-group">
                <label class="col-form-label-sm p-0">Login</label>
                <input name="email" id="email" type="text" placeholder="mail@example.com" class="form-control form-control-sm" required="">
                <div class="invalid-tooltip">
                    Please provide a valid email.
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label-sm p-0">Password</label>
                <input name="password" type="password" placeholder="********" class="form-control form-control-sm" required="">
            </div>
            <div class="form-group">
                <label class="col-form-label-sm p-0">Promo</label>
                <input name="promo" type="text" placeholder="------" class="form-control form-control-sm" required="">
            </div>
            <div class="text-center">
                <button id="signIn" type="submit" class="btn btn-primary btn-sm text-uppercase px-1h">Sign in</button>
            </div>

            <div class="mt-1 small text-center">
                Don't have an account?
                <a href="./" class="text-primary text-underline">Register</a>
            </div>
        </div>
    </form>
</div>

<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/datatables.min.js"></script>
<script src="./js/select2.min.js"></script>
<script src="./js/bootstrap-datepicker.min.js"></script>
<script src="./js/custom.js"></script>
</body>
</html>
